
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.botones{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botones > input{
    margin:20px;
}

